extends _layout

include _tool_btn

block vars
  - var title = "DSIGN_TOP";
  
block main
  form 
  .section_wrapper
    .contents
      .design_01_01
        h2.shift_approval_headding  デザイン編集（基本情報・かんたん設定）
        p.design_01_01_txt 現在、アネモネ渋谷店のデザインを編集しようとしています。編集する店舗を変更する場合は、ヘッダーのログイン店舗を変更してください。
        .desing_01_01_box
          p.title このアカウントでデザイン編集可能な店舗一覧
          ul.list
            li
              p.num 1
              p.title アネモネ渋谷店
              p.mail a-mone.jp
              p.txt 現在こちらの店舗が選択されています。
            li
              p.num 2
              p.title アネモネ新宿店（ミラー：アネモネ渋谷店）
              p.mail anemone-shinjuku.com
              p.txt -
        p.design_01_01_subtx 店舗の重要部分の変更・編集画面です。複数店舗をお持ちの管理者様は、店舗選択に間違いないかを確認して慎重に操作してください。
  .section_wrapper
    .contents
      .design_01_02
        h2.shift_approval_headding  デザインテーマ
          .img_box
            .inner
              img(src="")
              span テーマの高度な編集
          .txt_box
            .title
              p.left 現在のテーマ
              p.right Anemone渋谷店
            table
              tr
                th メディア
                th サイズ比率
                th 最大表示サイズ
                th アップロード上限サイズ
              tr
                th プロフィール画像
                th 比率(2:3)
                th -
                th 3MB
                  span (自動リサイズ)
              tr
                th プロフィールサムネイル画像
                th 比率(16:9)
                th -
                th -
              tr
                th プロフィール動画
                th 比率(16:9)
                th
                  p.left 1280px
                  p.middle :
                  p.right 720px  
                th 100MB
                  span (自動リサイズ)
              tr
                th 写メ日記（投稿画面や投稿動画）
                th -
                th -
                th 20MB
  .section_wrapper
    .contents
      .design_01_03
        h2.shift_approval_headding  基本画像設定
        ul.list
          li
            p.title 店舗ロゴ（全般）
            .box
              span アップロード推奨サイズ　640px : 140px
              a(href="#") 店舗ロゴをアップロード
              img(src="")
          li
            p.title 電話番号画像化（一部のメニューで使用）
            .box
              span アップロード推奨サイズ 640px : 140px
              a(href="#") 電話番号画像をアップロード
              img(src="")
          li
            p.title Myページのアイコン画像（メニューで使用）
            .box
              span アップロード推奨サイズ 128px : 128px
              a(href="#") アイコン画像をアップロード
              img(src="")
  .section_wrapper
    .contents
      .design_01_04
        h2.shift_approval_headding デザインかんたん設定
        .thm
          .title_bx
            p.sub_title キャストサムネイル設定
            p.sub_title_left 編集画面を開く
          .content_box
            .inner
              .left
                .top
                  p.color
                  .content
                    p.title
                    .item
                      p.txt 出金スケジュールの
                        br
                        | キャストサムネイル
                        br
                        | (トップページ、出金表)
                      ul.list
                        li
                          input(type="checkbox" name="")
                          label 16 : 9/4列
                        li
                          input(type="checkbox" name="")
                          label 16 : 9/2列
                        li
                          input(type="checkbox" name="")
                          label 2 : 3/4列
                        li
                          input(type="checkbox" name="")
                          label 2 : 3/2列
                      ul.list02
                        li
                          input(type="checkbox" name="")
                          label 16 : 9/3列
                        li                        
                        li
                          input(type="checkbox" name="")
                          label 2 : 3/3列
                        li
                .middle
                  p.color
                  .content
                    .item
                      p.txt 在籍キャストの
                        br
                        | キャストサムネイル
                        br
                        | (在籍キャストページ)
                      ul.list
                        li
                          input(type="checkbox" name="")
                          label 16 : 9/4列
                        li
                          input(type="checkbox" name="")
                          label 16 : 9/2列
                        li
                          input(type="checkbox" name="")
                          label 2 : 3/4列
                        li
                          input(type="checkbox" name="")
                          label 2 : 3/2列
                      ul.list02
                        li
                          input(type="checkbox" name="")
                          label 16 : 9/3列
                        li                        
                        li
                          input(type="checkbox" name="")
                          label 2 : 3/3列
                        li
                .bottom
                  p.color
                  .content
                    .item
                      p.txt PCプレビュー
                      a(href="#") ＞トップ
                      a(href="#") ＞出金表
                      a(href="#") ＞在籍キャスト
              .right
                .top
                  p.color
                  .content
                    p.title
                    .item
                      p.txt 出金スケジュールの
                        br
                        | キャストサムネイル
                        br
                        | (トップページ、出金表)
                      ul.list
                        li
                          input(type="checkbox" name="")
                          label 16 : 9/4列
                        li
                          input(type="checkbox" name="")
                          label 16 : 9/2列
                        li
                          input(type="checkbox" name="")
                          label 2 : 3/4列
                        li
                          input(type="checkbox" name="")
                          label 2 : 3/2列
                      ul.list02
                        li
                          input(type="checkbox" name="")
                          label 16 : 9/3列
                        li                        
                        li
                          input(type="checkbox" name="")
                          label 2 : 3/3列
                        li
                .middle
                  p.color
                  .content
                    .item
                      p.txt 在籍キャストの
                        br
                        | キャストサムネイル
                        br
                        | (在籍キャストページ)
                      ul.list
                        li
                          input(type="checkbox" name="")
                          label 16 : 9/4列
                        li
                          input(type="checkbox" name="")
                          label 16 : 9/2列
                        li
                          input(type="checkbox" name="")
                          label 2 : 3/4列
                        li
                          input(type="checkbox" name="")
                          label 2 : 3/2列
                      ul.list02
                        li
                          input(type="checkbox" name="")
                          label 16 : 9/3列
                        li                        
                        li
                          input(type="checkbox" name="")
                          label 2 : 3/3列
                        li
                .bottom
                  p.color
                  .content
                    .item
                      p.txt スマホプレビュー
                      a(href="#") ＞トップ
                      a(href="#") ＞出金表
                      a(href="#") ＞在籍キャスト
              button(type="submit") キャストの表示方法を保存する（必ずプレジューで確認してから保存して下さい）
        .weg
          .title_bx
            p.sub_title ウェジットの登録
            p.sub_title_left 編集画面を開く
          .left
            p.title 利用できるウェジット
            p.txt トップページのウェジットをオンにすると、ウェジットのデザインが優先して表示されます。カスタマイズを行なっている場合は、必ずオフにして利用してください。
            .inner
              ul.left
                li 
                  p 新着ニュース
                  p ▲
                li 
                  p ランキング
                  p ▲
                li 
                  p ピックアップ情報
                  p ▲
                li 
                  p バナー
                  p ▲
                li 
                  p カスタムHTML
                  p ▲ 
              ul.right
                li 
                  p 新人キャスト
                  p ▲
                li 
                  p 本日の出金
                  p ▲
                li 
                  p 動画
                  p ▲
                li 
                  p テキスト
                  p ▲
          .middle
            p.title トップページ
            .switch
              p.left ウェジットを使用
              p.middle ON
              p.right OFF
            .box
              p.title 新着ニュース　▼
              .box_in
                .view
                  p 表示
                  .pc
                    input(type="checkbox" name="")
                    label PC
                  .sp
                    input(type="checkbox" name="")
                    label SP
                .num
                  p 表示するニュースの数：
                  select(name="")
                    option(value="") 1
                    option(value="") 2
                    option(value="") 3
                  label 件
                .btn_box
                  .left
                    a(href="#").rem 削除
                    a(href="#").non 閉じる
                  a(href="#").right 保存
            p.sub_title 本日の出勤　▲      
          .right
            p.title サイドバー
            .box
              p.title 新着ニュース　▼
            p.sub_title 本日の出勤　▲      
