extends _layout

include _tool_btn

block vars
  - var title = "MAILMAGAZINE";
  
block main
  form 
    .section_wrapper
      .contents
        .mail_magagine_history
          h2.shift_approval_headding メルマガ配信履歴
          .history_box
            h3.history_box_title 配信履歴
            ul.history_table
              for item, index in resources.mailmagaginelist
                li
                  p.number= index+1
                  p.history_table_title= item.title
                  p.history_table_time= item.time
                  p.history_table_number= item.number
    .section_wrapper
      .contents
        .mail_magagine
          h2.shift_approval_headding メルマガの配信
          .mail_magagine_content
            .new_mailmagagine
              .new_mailmagagine_title  
                .left_btn.title_btn
                  label
                    input(type="checkbox" name="")
                    | 通常のメルマガの作成
                .right_btn.title_btn
                  label
                    input(type="checkbox" name="")
                    | HTMLメルマガの作成
              .new_mailmagagine_contents
                .left_contents
                  p.sender メルマガ送信者
                    span アネモネ渋谷店(info@a-mone.com)
                  .subject
                    label メルマガ件名入力
                    input(type="text" name="")
                  .content
                    .content_title 
                      .title_text メルマガ本文入力：
                      .btn_box
                        .btn.left
                          p.btn_text ↓※A 右記に記載
                          a(href="#")
                            p.btn_inner_text キャスト選択差込
                        .btn.center
                          p.btn_text ↓※B 右記に記載
                          a(href="#")
                            p.btn_inner_text ニュース差込
                        .btn.right
                          p.btn_text ↓※C 右記に記載
                          a(href="#")
                            p.btn_inner_text テンプレート差込
                    textarea
                  .footer
                    label メールのフッター
                    textarea
                .right_contents
                  label メルマガプレビュー
                  textarea
            .send_mailmagagine
              p.send_mailmagagine_title メルマガを送信する顧客・対象者を選択してください。
              ul.checkbox_list
                li.checkbox_item
                  label
                    input(type="checkbox" name="")
                    | 会員（3420件）
                li.checkbox_item
                  label
                    input(type="checkbox" name="")
                    | メルマガ登録者（2865件）
                li.checkbox_item
                  label
                    input(type="checkbox" name="")
                    | 会員サイト登録ユーザー（555件）
                li.checkbox_item
                  p.item_top_text ↓※D 右記に記載
                  a(href="#")
                    p.item_text 会員詳細検索・選択
                  p.item_bottom_text 185件が選択されました
            .time_mailmagagine
              p.time_mailmagagine_title メルマガを送信する顧客・対象者を選択してください。
              ul.checkbox_list
                li.checkbox_item.left
                  label
                    input(type="checkbox" name="")
                    | 会員（3420件）
                li.checkbox_item.right
                  .item_inner
                    label
                      input(type="checkbox" name="").short
                      | 日時指定
                    label
                      input(type="text" name="")
                      | 年
                    label
                      input(type="text" name="")
                      | 月
                    label
                      input(type="text" name="")
                      | 日
                    label
                      input(type="text" name="")
                      | 時
                    label
                      input(type="text" name="")
                      | 分
              button(type="submit") この条件で配信　or 配信予約
