extends _layout

include _tool_btn

block vars
  - var title = "MAILPAGE-ALLSEND";
  
block main
  form 
    .section_wrapper
      .contents
        .mail_page
          .mail_sidebar
            img(src="").logo
            a(href="#").create_mail
              p.btn_text メッセージ作成
            .mail_tray
              a(href="#").receive_tray
                p.btn_text 📩 受信トレイ
              a(href="#").send_tray
                p.btn_text ➡︎ 送信トレイ
              a(href="#").draft_tray
                p.btn_text 📝 下書き
              a(href="#").important_tray
                p.btn_text ☆ 重要
            .days_all_send
              h2.title 出勤確認一括送信
              a(href="mail-all-send.html").today
                p.btn_text 本日（2018-10-18）
              a(href="mail-all-send.html").tomorrow
                p.btn_text 明日（2018-10-19）
            .store_mail
              h2.title 店舗別の受信メール
              a(href="#").shibuya
                p.btn_text アネモネ渋谷店
              a(href="#").shinjuku
                p.btn_text アネモネ新宿店
              a(href="#").esute
                p.btn_text 宝石（エステ）
            .contact_info
              h2.title 連絡帳検索
              a(href="mail-contact-book.html").info_btn
                p.btn_text 🔍 登録連絡先
            .template
              h2.title メールテンプレート管理
              a(href="mail-template.html").template_btn
                p.btn_text テンプレートを編集
          .mail_contents
            .mail_management
              .management_tray
                input(type="text" name="" placeholder="🔍メール検索")
                a(href="#").first
                  p.btn_text 管理
                a(href="#").second
                  p.btn_text TL
                a(href="#").third
                  p.btn_text ドキュ
                a(href="#").four
                  p.btn_text ◆未読メールあり
              p.title 本日の出勤確認メールを一括送信
              .reload_tray.all_send
                .left_box
                  .checkbox
                    input(type="checkbox" name="")
                  a(href="#").left
                    p.btn_text 更新
                  a(href="#").right
                    p.btn_text その他
                .right_box
                  p.pages 1-3/1行
                  a(href="#").middle_left
                    p.btn_text ＜
                  a(href="#").middle_right
                    p.btn_text ＞
                  a(href="#").right
                    p.btn_text 設定
              ul.mail_tray
                for item in resources.allsendmailitemlist
                  li.mail_item(class=item.color)
                    .check
                      input(type="checkbox" name="")
                    .label
                      if item.class == "is_current"
                        img(src="images/is_current.png")
                      else
                        img(src="images/not_current.png")
                    p.name #{item.name}
                    p.subject #{item.subject}
                    p.time #{item.time}
              p.send_desc ※この項目は本日（今日）の出勤確認メール一括送信です。日にちに間違いがないかチェックしてください。
              .create_mail_contents
                p.create_title メッセージ一括送信（上記で対象者にチェックを入れてください）
                .create_box
                  .left
                    .subject
                      p.subject_title 件名
                      input(type="text" name="") 
                    .content
                      p.content_title 本文
                      textarea
                    button(type="submit") 返信する
                  .right
                    p.right_title 洗濯したキャスト
                    p.cast あゆみL)
                    p.cast みさき+)
