extends _layout

include _tool_btn

block vars
  - var title = "MAILPAGE-TEMPLATE";
  
block main
  form 
    .section_wrapper
      .contents
        .mail_page
          .mail_sidebar
            img(src="").logo
            a(href="#").create_mail
              p.btn_text メッセージ作成
            .mail_tray
              a(href="#").receive_tray
                p.btn_text 📩 受信トレイ
              a(href="#").send_tray
                p.btn_text ➡︎ 送信トレイ
              a(href="#").draft_tray
                p.btn_text 📝 下書き
              a(href="#").important_tray
                p.btn_text ☆ 重要
            .days_all_send
              h2.title 出勤確認一括送信
              a(href="mail-all-send.html").today
                p.btn_text 本日（2018-10-18）
              a(href="mail-all-send.html").tomorrow
                p.btn_text 明日（2018-10-19）
            .store_mail
              h2.title 店舗別の受信メール
              a(href="#").shibuya
                p.btn_text アネモネ渋谷店
              a(href="#").shinjuku
                p.btn_text アネモネ新宿店
              a(href="#").esute
                p.btn_text 宝石（エステ）
            .contact_info
              h2.title 連絡帳検索
              a(href="mail-contact-book.html").info_btn
                p.btn_text 🔍 登録連絡先
            .template
              h2.title メールテンプレート管理
              a(href="mail-template.html").template_btn
                p.btn_text テンプレートを編集
          .mail_contents
            .mail_management
              .management_tray
                input(type="text" name="" placeholder="🔍メール検索")
                a(href="#").first
                  p.btn_text 管理
                a(href="#").second
                  p.btn_text TL
                a(href="#").third
                  p.btn_text ドキュ
                a(href="#").four
                  p.btn_text ◆未読メールあり
              p.title メールテンプレート編集
              .template_edit
                .timeline
                  p.edit_title タイムライン関連
                  a(href="#").edit_btn 予約報告連絡
                  a(href="#").edit_btn.active インメール
                  a(href="#").edit_btn.last アウトメール
                .web
                  p.edit_title WEB面接関連
                  a(href="#").edit_btn バック給料情報送信
                  a(href="#").edit_btn キャストマイページ登録
                  a(href="#").edit_btn 初出勤案内(キャスト)
                  a(href="#").edit_btn.last 初出勤案内(店舗)
                .reservation_form
                  p.edit_title 予約フォーム
                  a(href="#").edit_btn コース変更
                  a(href="#").edit_btn 延長
                  a(href="#").edit_btn.last ドライバーマイページ送付
                .mail
                  p.edit_title メール
                  a(href="#").edit_btn 本日の出勤確認
                  a(href="#").edit_btn.last 明日の出勤確認
              .create_mail_contents
                p.create_title タイムライン・インメール
                .create_box
                  .left
                    .subject
                      p.subject_title 件名
                      input(type="text" name="") 
                    .content
                      p.content_title 本文
                      textarea
                    button(type="submit") テンプレート保存
                  .right
                    p.right_title この項目で使用している変数
                    ul.right_box_area
                      li.box 
                      li.box
                      li.box 
                      li.box
                      li.box 
                      li.box
                      li.box 
                      li.box
