extends _layout

include _tool_btn

block vars
  - var title = "SHIFTREJECT";
  
block main
  form 
    .section_wrapper
      .contents
        .shift_reject
          h2.shift_approval_headding  シフトの承認拒否
          .shift_reject_box
            h3.box_title 次のシフトの承認を拒否します。（非表示設定になります）
            .box_time
              p.time_text 2018年8月14日（火曜）13:00~24:00 完全終了
              p.time_desc 備考：この日は、世田谷の自宅まで送りをお願いしたいです。
            p.box_desc ※キャストとのトラブル・操作ミス防止のため、非表示前の確認を実施しています。非表示にする理由を入力してください。
              br
              | 尚、退店処理すると登録されていたシフトの自動的に非表示になります。
            .cast_info_box
              .check
                p.title キャストへの連絡
                label.mail
                  input(type="checkbox" name="")
                  | メール連絡済
                label.tel
                  input(type="checkbox" name="")  
                  | 電話連絡済
              .textbox
                p.title 承認拒否の理由
                textarea
            .btn_box
              a(href="#").mail_btn
                p.btn_text ＞＞メールを送信する
              button(type="submit").hidden_btn シフト承認拒否・非表示登録する
