extends _layout

include _tool_btn

block vars
  - var title = "SOKUHIME";
  
block main
  .contents
    .sokuhime_contents
      .contents_main
        p.contents_main_text 本日の出勤キャストから即姫設定
        a(href="#")
          p.sokuhime_btn 即姫・コンテンツ設定
      .contents_list
        p.contents_list_title 《項目の説明》
        .contents_list_box
          p.contents_list_desc 即姫設定の項目は、設定してから60分間その項目が表示されます。60分間経過or出勤時間が終了すると自動解除されます。
            br
            | 次回のご案内は［●時●●分後にご案内可能］と表示し、入力時間をすぎると［待ち時間なし］と表示され、60分後に自動解除されます。
            span ※即姫設定と次回のご案内は同時設定できませんので、キャストの状況に合わせて、どちらか片方の入力をお願いします。
          .btn_box
            p.btn_box_text 現在時刻：2018-08-08 20:23
            a(href="#")
              p.conf_btn 即姫ページの確認＞＞
        ul.cast_list
          for item in resources.sokuhimecast
            li.cast_item(class=item.class)
              p.name #{item.name}
              img.img(src=item.img)
              p.time #{item.time}
              p.title #{item.title}
              ul.item_list
                for child in item.box
                  if child.class
                    li.item_list_box(class=child.class) #{child.text}
                  else
                    li.item_list_box #{child.text}
              p.next_text 【次回のご案内】
              form.next_form
                input.next_form_hour(type='text', name='', value='')
                | 時
                input.next_form_hour(type='text', name='', value='')
                | 分
                input.button(type="button" value="確定")
        .contents_sub
          p.contents_sub_text 出勤時間が終了しているキャスト(即姫設定できません。)
          a(href="#")
            p.conf_btn 即姫ページの確認＞＞
      a(href="#")
        p.sokuhime_btn 即姫・コンテンツ設定
