.campaign {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 50px;
  &_box {
    width: 100%;
    .box_title {
      font-size: 14px;
      margin-left: 5%;
      margin-bottom: 30px;
    }
    .box_list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 95%;
      margin: 0 auto;
      .box_item {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .number {
          width: 120px;
          height: 50px;
          text-align: center;
          background-color: #ACA9A9;
          line-height: 50px;
        }
        .textbox {
          width: 800px;
          border: 1px solid $brack;
          border-left: none;
          height: 48px;
          display: flex;
          flex-direction: row;
          align-items: center;
          box-sizing: border-box;
          padding-left: 10px;
          .left {
            border-right: 1px solid $brack;
            padding-right: 20px;
            margin-right: 20px;
          }
          .center {
            display: flex;
            flex-direction: row;
            align-items: center;
            &:after {
              content: "";
              display: flex;
              width: 3px;
              height: 1px;
              background-color: $brack;
              transform: rotate(-60deg);
              padding-right: 20px;
              margin-right: 5px;
            }
          }
          .link {
            font-weight: bold;
          }
        }
        a {
          .btn_text {
            border: 1px solid $brack;
            border-left: none;
            width: 150px;
            height: 46px;
            line-height: 46px;
            text-align: center;
          }
        }
        .reset_btn {
          .btn_text {
            background-color: #CCC8C8;
          }
        }
        .edit_btn {
          .btn_text {
            background-color: #F0A53E;
          }
        }
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
    .title {
      margin-bottom: 30px;
    }
  }
}
