.pickup {
  width: 100%;
  .text_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    .pickup_text {
      margin-right: 30px;
    }
    a {
      color: #FFC74A;
    }
  }
  .btn_box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    .left,
    .right {
      width: 45%;
      text-align: center;
      font-size: 20px;
      line-height: 50px;
      color: $white;
      background-color: #F0A53E;
    }
  }
  .setting_title {
    margin-bottom: 20px;
  }
  .setting_are {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    .cast_serch_area {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .direct_shift_serach {
        margin-bottom: 15px;
      }
      .serch_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px;
        .text {
          margin-right: 15px;
        }
        input {
          border: 1px solid $brack;
          width: 350px;
          height: 40px;
        }
        button {
          border: 1px solid $brack;
          border-left: none;
          width: 110px;
          height: 44px;
          background-color: $orange;
          font-size: 16px;
        }
      }
      .search_results {
        width: 85%;
        margin: 0 auto;
        .results_text {
          margin-bottom: 10px;
        }
        .results_list {
          width: 95%;
          margin: 0 auto;
          margin-bottom: 15px;
          .resultts_item {
            width: 100%;
            font-size: 16px;
            line-height: 30px;
            &.gray {
              background-color: $gray;
            }
          }
        }
      }
    }
    .setting_cast_box {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      border: 1px solid $brack;
      box-sizing: border-box;
      padding: 20px 0;
      .img_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        .top_text {
          margin-bottom: 20px;
        }
        img {
          width: 160px;
          height: 150px;
          margin-bottom: 20px;
        }
        .bottom_text {
          font-size: 12px;
        }
      }
      .text_box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 60%;
        .title {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .check_box {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: wrap;
          margin-bottom: 15px;
          label {
            width: 50%;
          }
        }
        .text_form_box {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          &.top {
            margin-bottom: 10px;
          }
          &.bottom {
            margin-bottom: 15px;
          }
          label {
            font-size: 14px;
          }
          input {
            width: 57px;
            height: 20px;
            border: 1px solid $brack;
            margin: 0 5px;
          }
        }
        button {
          width: 200px;
          height: 30px;
          background-color: $orange;
          font-size: 16px;
          text-align: center;
          line-height: 30px;
        }
      }
    }
  }
}

.cast_work {
  width: 100%;
  .top_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .title {
      font-size: 25px;
    }
    a {
      .button_text {
        width: 200px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background-color: #EAEAEA;
      }
    }
  }
  .cast_work_box {
    width: 100%;
    border: 1px solid $brack;
    box-sizing: border-box;
    padding: 20px 50px;
    .text {
      margin-bottom: 20px;
    }
    .days_list {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 50px;
      .day {
        width: 20%;
      }
    }
    .cast_img_list {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      .cast_img_item {
        width: 20%;
        text-align: center;
        img {
          width: 80%;
          margin: 20px auto;
          height: 200px;
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(6),
        &:nth-child(7) {
          margin: 0 5%;
        }
        &:nth-child(n + 4) {
          margin-bottom: 50px;
        }
      }
    }
  }
}
