.sokuhime_contents {
  .contents_main_text {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .top_contents_wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
    .left_contents {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      label {
        font-size: 16px;
      }
      input {
        border: 1px solid $brack;
        &.textbox {
          height: 30px;
          width: 400px;
        }
      }
      .sale_contents,
      .sale_name,
      .sale_condition,
      .sale_target,
      .sale_course {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
        .title {
          width: 140px;
        }
      }
      .sale_target {
        align-items: flex-start;
        .form_list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .form_item {
            &:not(:last-child) {
              margin-bottom: 15px;
            }
            .checkbox {
              margin-right: 20px;
            }
            .shortbox {
              width: 300px;
              height: 20px;
            }
          }
        }
      }
      .sale_course {
        align-items: flex-start;
        .form_list {
          .form_item {
            display: flex;
            flex-direction: row;
            align-items: center;
            &:not(:last-child) {
              margin-bottom: 15px;
            }
            input {
              margin-right: 20px;
            }
            select {
              border: 1px solid $brack;
              height: 30px;
              width: 100px;
              font-size: 16px;

            }
          }
        }
      }
      .trafic_sale {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .title {
          width: 140px;
        }
        .form_list {
          .form_item {
            display: flex;
            flex-direction: row;
            align-items: center;
            &:not(:last-child) {
              margin-bottom: 15px;
            }
            input {
              margin-right: 20px;
            }
            select {
              border: 1px solid $brack;
              height: 30px;
              width: 100px;
              font-size: 16px;

            }
          }
        }
      }
    }
    .right_contents {
      width: 50%;
    　.right_text {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
        span {
          font-size: 14px;
          margin-left: 15px;
        }
      }
      .img_box {
        width: 100%;
        height: 100px;
        box-sizing: border-box;
        padding: 0 20px;
        border: 1px solid $brack;
        background-color: $table-td-bg;
        display: flex;
        flex-direction: row;
        align-items: center;
        input {
          width: 300px;
          height: 50px;
          background-color: $orange;
          font-size: 14px;
          margin-right: 30px;
        }
        button {
          width: 200px;
          height: 30px;
          border: 1px solid $brack;
          background-color: $white;
        }
      }
      .img_view_box {
        width: 100%;
        height: 360px;
        box-sizing: border-box;
        padding: 10px 20px;
        border: 1px solid $brack;
        border-top: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
        .box_text {
          font-size: 14px;
          margin-bottom: 10px;
        }
        img {
          width: 100%;
          height: 150px;
          margin-bottom: 10px;
        }
        .box_sub_text {
          font-size: 14px;
          margin-bottom: 10px;
        }
        .img_link_box {
          margin-top: 20px;
          input {
            width: 600px;
            height: 30px;
            border: 1px solid $brack;
            margin-top: 20px;
          }
        }
      }
      .name_price_box {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .title {
          width: 140px;
        }
        .form_list {
          .form_item {
            display: flex;
            flex-direction: row;
            align-items: center;
            &:not(:last-child) {
              margin-bottom: 15px;
            }
            input {
              margin-right: 20px;
            }
            select {
              border: 1px solid $brack;
              height: 30px;
              width: 100px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .desc_contents {
    margin-bottom: 30px;
    &_text {
      font-weight: bold;
      margin-bottom: 10px;
    }
    textarea {
      resize: none;
      width: 100%;
      height: 300px;
      border: 1px solid $brack;
    }
  }
  .terminal_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    .box_title {
      margin-bottom: 20px;
    }
    .terminal_list {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      .terminal_item {
        &:not(:last-child) {
          margin-right: 50px;
        }
      }
    }
  }
  .bunner_box {
    margin-bottom: 30px;
    .box_title {
      margin-bottom: 20px;
    }
    .bunner_img_box {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      input {
        width: 300px;
        height: 50px;
        background-color: $orange;
        font-size: 14px;
        margin-right: 30px;
      }
      button {
        width: 200px;
        height: 30px;
        border: 1px solid $brack;
        background-color: $white;
      }
    }
    .bunner_check_box {
      display: flex;
      flex-direction: row;
      align-items: center;
      .bunner_check_item {
        &:not(:last-child) {
          margin-right: 50px;
        }
      }
    }
  }
  .display-period_box {
    .box_title {
      margin-bottom: 20px;
    }
    .top_area {
      margin-bottom: 20px;
      label {
        margin-right: 30px;
      }
    }
    .bottom_area {
      margin-bottom: 100px;
      .tb {
        border: 1px solid $brack;
        width: 80px;
        height: 20px;
        margin-right: 10px;
      }
      .sub_text {
        margin-top: 20px;
        font-size: 14px;
      }
    }
  }
  .button_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    button {
      width: 500px;
      height: 85px;
      border: 1px solid $brack;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span {
        font-size: 14px;
      }
      &.left {

      }
      &.right {
        background-color: $orange-btn;
      }
    }
  }
}
